[*.cs]
resharper_not_disposed_resource_highlighting = Error
resharper_not_disposed_resource_is_returned_highlighting = Error

resharper_unused_type_global_highlighting = None
resharper_unused_auto_property_accessor_global_highlighting = None
resharper_invoke_as_extension_method_highlighting = None